* { box-sizing: border-box; margin: 0; padding: 0; font-family:}
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}


body{
  padding-top: 650px;
  font-family: "Roboto Condensed",sans-serif;
}
.site-header{
  background: url("https://blurppy.files.wordpress.com/2013/04/sixmorevodka-mighty-avengers-siege01-3130x950.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-top: 300px;
  font-family: "Oswald",sans-serif;
}

.site-header h1{
  font-size: 90px;
  color: white;
  text-transform: uppercase;
}

.site-header span{
  color: firebrick;
  display: inline-block;
  font-size: 34px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

.site-header .cta{
  font-size: 1.5rem;
  background-color: dodgerblue;
  color: #fff;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.3);
  border-radius: 6px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 25px;
}

.main-content,
.main-nav{
  position: relative;
}

.main-nav{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  text-align:center;
  background-color: #fff;
  height: 60px;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  z-index: 100;
  font-family: "Oswald",sans-serif;
  margin-bottom: -60px;
}

.nav-fixed,
.site-header{
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

.nav-link{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 8px;
  border-bottom: 1px solid transparent;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 10px;
}
.main-nav *.chosen{
  border-bottom: 5px solid rgb(255, 0, 0);
}

.dropdown-toggle {
    position: relative;
  }
  
  .dropdown-toggle:hover .dropdown {
    display: flex;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left:0;
    width: 150px;
    background: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 0 8px -8px #000;
  }
  
  .dropdown a {
    color: #000;
    text-decoration: none;
    width:100%;
    padding: 10px 5px;
    transition: border 200ms ease, font-style 200ms ease;
  }
  
  .dropdown a:hover {
    border-left: 7px solid red;
    font-style: italic;
  }
  
  .dropdown a:hover {
    background: #fafafa;
  }

.main-content{
  padding-top: 80px;
  background-color: #f7f7f7;
}

.main-content h2,
.main-content h3{
  font-family: "Oswald",sans-serif;
}

.main-content h2{
  font-size: 34px;
  margin-bottom: 50px;
}

.main-content h3{
  color: rgba(0,0,0,.76);
}

.main-content p, .main-content li{
  color: rgba(0,0,0,.6);
  line-height: 1.4;
}

.page-section{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.article-gallory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-gallory section {
  margin: 25px;
  box-shadow: 4px 4px 2px grey;
  border: 4px solid #ddd;
  width: 345px;
}

.logo{
  position: absolute;
  top: 0;
  left: 10;
  width: fit-content;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.search{
  height: 100%;
  float:right;
}

.search2{
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

  .marvel-universe {
    display: flex;
    height: 100vh;
  }
  .character {
    transition: 0.5s;
    flex-grow: 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .details {
    position: absolute;
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
    transform: translateX(150%);
  }

.agenda {
  border-bottom: 80px solid #fff;
}
  .month {
    padding: 70px 25px;
    width: 100%;
    background: #8a1111;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: #8a1111;
    color: white !important
  }
  
 
  @media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
  }
  
  @media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
  }
  
  @media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
  }
  
  .footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
  
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  .footer-distributed h3 span{
    color:  #5383d3;
  }

  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
  }

  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }

  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  